<div id="download">
  <div id="error"></div>
	<% remote_form_for :photo, :url => photos_path do |f| -%>
	  <fieldset> 
		  <legend>校内网相册下载器</legend>
	  	<p><label for="email">邮箱</label>
			<%= f.text_field :email, :class => 'inputtext' %><br />
			</p>   

			<p><label for="password">密码</label>
			 <%= f.password_field :password, :class => 'inputtext' %><br />
			</p>   
		
			<p><label for="album_url">链接</label>
			 <%= f.text_field :album_url, :class => 'inputtext' %><br />
			</p>  
		
			<p><label class="empty">empty</label>
			 <%= submit_tag "提交", :style => "" %><br />
			</p>
	  </fieldset>
	<% end -%>  
	<div id="progress"></div>   
	<div class="notice">
		<ul>
			<li>这个站点是应一些朋友的需要而制作的，非官方站点</li>
			<li>你需要提交你的校内帐号，密码和你要下载的相册链接，
				如http://photo.xiaonei.com/getalbum.do?id=247354499&owner=227601614</li>
			<li>我们绝不会保留或泄露您的校内帐号</li>	 
			<li>只能按页下载，相片多于一页需要接着输入第二页链接</li> 
			<li>下载后会打包成zip文件发给你，有时候下载时间比较长需要耐心等待:)</li> 
		</ul>
	</div>
</div>